*.peg linguist-language=PEG.js
./umd*.js linguist-generated
./parser.js linguist-generated
parser.js binary
parser.umd.js binary
docs/demo/* binary
package-lock.json binary
__tests__/__snapshots__/* binary
