/*
 * those CSS variables are defaults,
 * there are here for documentation porpuse
 */
:root {
    --color: #FA5E24;
    --background: #181818;
    --size: 1;
    /* --glow: 1 */
    --animation: terminal-blink;
}
body, html {
    height: 100%;
    background: var(--background);
}
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* syle inspired by https://fingerprintjs.com/blog/indexeddb-api-browser-vulnerability-safari-15/ */
.modal {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 400px;
    border: 5px solid var(--color);
    overflow: hidden;
    border-radius: 16px;
}
.modal header {
    border-bottom: 2px solid var(--color);
    color: var(--color);
    text-align: center;
    position: relative;
}
.modal header .buttons {
    position: absolute;
    left: 8px;
    height: 100%;
}
.modal header .buttons ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal header .buttons li {
    margin: 2px;
}
.modal header .buttons a {
    width: 12px;
    height: 12px;
    border: 2px solid var(--color);
    border-radius: 50%;
    display: block;
}
.modal header .buttons a:hover {
    background: var(--color);
}
.modal header .title {
    font-family: sans-serif;
    letter-spacing: 0.2em;
    padding: 8px 0;
    display: inline-block;
    max-width: calc(100% - (80px * 2));
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    width: 100%;
    text-align: center;
}
.terminal {
    height: 100%;
}