:root {
    --color: #ccc;
    --background: black;
    --link-color: #3377FF;
    --size: 1;
    /* use --glow: 1; to add glow effect */
    /* available animations: terminal-bar, terminal-underline */
    --animation: terminal-blink;
    --font: monospace;
    --options: {}; /* JSON config for jQuery Terminal */
}
body {
    margin: 0;
    padding: 0;
}
#term {
    height: 100vh;
}